.sidebar-admin {
    width: 250px;
    height: 100vh;
    background-color: rgb(12, 76, 163);
    display: block;
    color: #fff;

    position: fixed;
    top: 0;
    left: 0;

    padding: 1rem;
    box-sizing: border-box;
}

.sidebar-admin h2 {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    margin-top: 0rem;
}

.sidebar-admin ul {
    list-style: none;
    padding: 0;
}

.sidebar-admin li+li {
    margin-top: 1rem;
}

.sidebar-admin a {
    display: block;
    text-align: center;
    padding: 0.5rem 1rem;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.sidebar-admin a:hover {
    background-color: #4a5568;
}


.sidebar-admin a.active {
    background-color: #003d88;

}

/* .sidebar-content {
    flex-grow: 1;

} */

/* .sidebar-footer {
    margin-top: auto;
} */

.logout-button {
    width: 100%;
    padding: 10px 15px;
    border: none;

    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.logout-button:hover {
    background-color: #c0392b;
}